{% extends 'base.html.twig' %}

{% block body %}
    <h1>Afiliados list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Ecorreo</th>
                <th>Slug</th>
                <th>Estaactivo</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for afiliado in afiliados %}
            <tr>
                <td><a href="{{ path('afiliado_show', { 'id': afiliado.id }) }}">{{ afiliado.id }}</a></td>
                <td>{{ afiliado.url }}</td>
                <td>{{ afiliado.ecorreo }}</td>
                <td>{{ afiliado.slug }}</td>
                <td>{% if afiliado.estaactivo %}Yes{% else %}No{% endif %}</td>
                <td>{% if afiliado.createdAt %}{{ afiliado.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('afiliado_show', { 'id': afiliado.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('afiliado_edit', { 'id': afiliado.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('afiliado_new') }}">Create a new afiliado</a>
        </li>
    </ul>
{% endblock %}
